@value makerGreen, makerPink from '../../common/colors.css';

.editor{
    flex-basis: 50%;
    border-right: 1px solid makerPink;
    padding:1em;
}

.title{
    width: 100%;
    text-align: center;
    color: makerGreen;
    font-size: 1.5em;
}