@value makerPink, makerWhite, makerBlack from '../../common/colors.css';

.container {
    text-align: center;
    padding-top: 1em;
    background-color: makerPink;
    position: relative;
}
.img{
    height: 2em;
    width: 3em;
    color: makerWhite ;
}
.title {
    font-size:1.4em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0.2em;
    padding-bottom: 0.5em;
    color: makerWhite;
}
.logout{
    position: absolute;
    right: 1em;
    top: 1em;
    border: none;
    padding: 0.3em 0.6em;
    border-radius: 0.3em;
    background-color: makerWhite;
    color: makerPink;
    cursor: pointer;
}
.logout:hover{
    color:makerBlack;
    background-color: makerWhite;
}