@value makerPink, makerWhite from '../../common/colors.css';

.container {
    text-align: center;
    background-color: makerPink;
}
.title {
    margin: 0;
    padding: 1em;
    font-size: 0.9em;
    color: makerWhite;
}