@value makerWhite, makerPink, makerGrey from '../../common/colors.css';

.container{
    border: 1px solid makerPink;
    width: 25em;
    margin: 15em auto;
    border-radius:5px;
    text-align: center;
    background-color: makerWhite;
}
.title{
    color: makerPink;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0.7em;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    list-style: none;
}
.login{
    width:80%;
    height: 2.5em;
    margin-bottom: 1em;
    border-radius: 1.5em;
    border: 1px solid makerPink;
    background-color: makerWhite;
    font-size: 1.1em;
    color: makerGrey;
    cursor: pointer;
}
button:hover{
    background-color: makerPink;
    color: makerWhite;
}