.container{
    border: 1px solid #FFA0A0;
    width: 22%;
    margin: 15em auto;
    border-radius:5px;
    text-align: center;
}
.title{
    color: #FFA0A0;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0.7em;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    list-style: none;
}
button{
    width:80%;
    height: 2.5em;
    margin-bottom: 1em;
    border-radius: 1.5em;
    border: 1px solid #FFA0A0;
    background-color: #ffffff;
    font-size: 1.1em;
    color: rgb(72, 72, 72);
}
button:hover{
    background-color: #FFA0A0;
    color: #ffffff;
}